
body {
	background: #444;
	font-family: sans-serif;
	font-size: 26pt;
	font-weight: 100;
	letter-spacing: 1px;
	color: #efddb7;
}

a {
	text-decoration: none;
	color: inherit !important;
}

#container {
	background: url('img/background.png');
	height: 1280px;
	width: 800px;
	margin: auto;
	position: relative;
	overflow: hidden;
}

/*
#container > section {
	display: inline-block;
}
*/

/* Side menu bar */
aside {
	background: url("img/MenuBarBG.png") #222;
	position: absolute;
	display: block;
	width: 321px;
	height: 100%;
	overflow: hidden;
	z-index: 101;
	left: -321px;
}

aside .menu-logout-button {
	display: block;
	position: absolute;
	bottom: 5px;
	left: 40px;
}

aside .menu-virtualhair-button {
	display: block;
	position: absolute;
	top: 255px;
	left: 40px;
}

aside .menu-favorites-button {
	display: block;
	position: absolute;
	top: 335px;
	left: 40px;
}

aside .menu-hairstylists-button {
	display: block;
	position: absolute;
	top: 415px;
	left: 40px;
}




/* Top menu bar */
.menu-bar {
	background: #333;
	position: absolute;
	top: 0;
	width: 100%;
	height: 80px;
	z-index: 100;
}

.menu-button {
	position: absolute;
	left: 20px;
	top: 10px;
}

.menu-button-2 {
	position: absolute;
	right: 20px;
	top: 10px;
}

.menu-title {
	line-height: 80px;

}



/* Main section */
#main-section {
/* 	display: none; */
	position: relative;
	top: 405px;

}



/* Menu section */
#menu-section {
	position: relative;
	display: none;
}

#menu-section .menu-virtual-hair-button {
	display: inline-block;
	position: absolute;
	top: 240px;
	left: 320px;
	width: 160px;
}

#menu-section .menu-favorites-button {
	position: absolute;
	left: 320px;
	top: 560px;
	width: 160px;
}

#menu-section .menu-stylists-button {
	position: absolute;
	left: 180px;
	top: 900px;
}

#menu-section .menu-about-button {
	position: absolute;
	right: 180px;
	top: 900px;
}



/* Hair section */
#hair-section {
	position: relative;
	background: #292929;
	display: none;
}

#hair-section .hair-container {
	position: relative;
}

#hair-section .hair-container .hair-face {
	opacity: .2;
}

#hair-section .hair-container .hair-hold-icon {
	display: block;
	position: absolute;
	top: 540px;
}



/* Stylists section */
#stylists-section {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

#stylists-section .menu-bar .menu-button-2-b {
	display: none;
}

#stylists-section .sub-section.zipcode {
	display: none;
	position: absolute;
	top: 325px;
	left: 159px;
}

#stylists-section .sub-section.stylists {
	position: relative;
	top: 80px;
	width: 100%;
	height: 93.66%;
}

#stylists-section .sub-section.stylists .stylists-divider {
	background: teal;
	height: 2px;
	width: 94%;
	margin: 0 3%;
}

#stylists-section .sub-section.stylists .stylists-pick-button {
	display: none;
	position: absolute;
	bottom: 20px;
	left: 371px;
}

#stylists-section .sub-section.stylists .stylists-stylist {
	height: 195px;
	padding-top: 10px;
	overflow: hidden;
	position: relative;
}

#stylists-section .sub-section.stylists .stylists-stylist:hover {
	background: rgba(255, 255, 255, 0.05);
}

/*#stylists-section .sub-section.stylists .stylists-stylist > div {
	height: 195px;
	overflow: hidden;
}*/

#stylists-section .sub-section.stylists .stylists-thumbnail {
	margin-left: 20px;
	width: 125px;
	height: 100%;
}

#stylists-section .sub-section.stylists .stylists-point-icon {
	position: relative;
	top: 6px;
}

#stylists-section .sub-section.stylists .stylists-info {
	padding: 0px 0 0 10px;
	width: 330px;
	height: 195px;
}

#stylists-section .sub-section.stylists .stylists-work-gallery {
	width: 315px;
	height: 195px;
	overflow: hidden;
	position: relative;
}

#stylists-section .sub-section.stylists .stylist-background {
	width: 590px;
	padding-left: 10px;
}

#stylists-section .sub-section.stylists .stylists-work-wrapper {
	position: relative;
	width: 500px;
	height: 141px;
}

#stylists-section .sub-section.stylists .stylists-work {
	display: inline-block;
	margin-right: 15px;
	top: 30px;
}

#stylists-section .sub-section.stylists .stylists-thumb-controls .stylists-thumb-next {
	position: absolute;
	background: url("img/t3/LeftSideIcon.png") no-repeat;
	top: 29px;
	right: 0px;
	width: 41px;
	height: 141px;
}

#stylists-section .sub-section.stylists .stylists-thumb-controls .stylists-thumb-prev {
	display: none;
	position: absolute;
	background: url("img/t3/RightSideIcon.png") no-repeat;
	top: 29px;
	left: -1px;
	width: 41px;
	height: 141px;
}


/*#stylists-section .sub-section.stylists .stylists-active {
	display: none;
	position: relative;
	top: 10px;
	left: 14px;
}*/

/*#stylists-section .sub-section.stylists .stylists-other {
	position: relative;
	top: 11px;
	left: 19px;
}*/

/*#stylists-section .sub-section.stylists .stylists-thumb {
	display: block;
	position: absolute;
	top: 41px;
	left: 480px;
}*/

/* Stylists section – Lightbox */
#stylists-section .sub-section.stylists .stylists-lightbox {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(41, 41, 41, 0.9);
}

#stylists-section .sub-section.stylists .stylists-lightbox .stylists-large {
	position: absolute;
	top: 200px;
	left: 100px;
}

#stylists-section .sub-section.stylists .stylists-lightbox-controls .prev {
	display: block;
	position: absolute;
	top: 550px;
	left: 20px;
}

#stylists-section .sub-section.stylists .stylists-lightbox-controls .next {
	display: block;
	position: absolute;
	top: 550px;
	right: 20px;
}

#stylists-section .sub-section.stylists .stylists-lightbox-controls .cancel {
	display: block;
	position: absolute;
	top: 170px;
	left: 680px;
}

/* Stylists section — Filter */
#stylists-section .sub-section.stylists .stylists-filter {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

/* Stylists section — Sumit */
#stylists-section .sub-section.stylists .stylists-submit {
	display: none;
	position: absolute;
	top: 325px;
	left: 159px;

}







/* Global classes */
 /** { outline: 1px solid purple; } */

.caption { font-size: 0.5em; letter-spacing: 0; }
.small 	 { font-size: 0.75em; }

.inline-block { display: inline-block; }

.floatleft { float: left;}

.centered {
	text-align: center;
}

.half {
	display: inline-block;
	width: 50%;
}

.margin-bottom-150 	{ margin-bottom: 150px; }
.margin-bottom-100 	{ margin-bottom: 100px; }
.margin-bottom-75 	{ margin-bottom: 75px; 	}
.margin-bottom-50 	{ margin-bottom: 50px; 	}
.margin-bottom-40 	{ margin-bottom: 40px; 	}
.margin-bottom-20 	{ margin-bottom: 20px; 	}
.margin-bottom-10 	{ margin-bottom: 10px; 	}

.margin-top-150 	{ margin-top: 150px; 	}
.margin-top-100 	{ margin-top: 100px; 	}
.margin-top-75 		{ margin-top: 75px; 	}
.margin-top-50 		{ margin-top: 50px; 	}
.margin-top-40 		{ margin-top: 40px; 	}
.margin-top-20 		{ margin-top: 20px; 	}
.margin-top-10 		{ margin-top: 10px; 	}

.left-20			{ position: relative; left: 20px; 	}
.left-160			{ position: relative; left: 160px; 	}
.left-320			{ position: relative; left: 160px; 	}

.right-160			{ position: relative; right: 160px; }
.right-320			{ position: relative; right: 320px; }
